* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
}

header {

    background: linear-gradient(135deg, #2a3d4a, #111a20); /* contrast color */;
    position: relative;
    color: white;
    text-align: right;
    padding: 1.5rem;
    z-index: 50;

}

header ul {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 2rem;
}

header ul a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

header ul a:hover {
   color: orange;
   font-size: 1.05rem;
}