* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
}

header {

    background: linear-gradient(135deg, #2a3d4a, #111a20); /* contrast color */;
    position: relative;
    color: white;
    text-align: right;
    padding: 1.5rem;
    z-index: 50;

}

header ul {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 2rem;
}

header ul a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

header ul a:hover {
   color: orange;
   font-size: 1.05rem;
}

.mobile_menu {
    position: absolute;
    background: linear-gradient(135deg, #2a3d4a, #111a20);
    display: none;
    height: 0px;
    border-radius: 10px;
    width: 300px;
    right: 2rem;
    top: 80px;
}

.mobile_menu li {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0.7rem;
}

.mobile_menu a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

.mobile_menu a:hover {
    color: orange;
    font-size: 1.05rem;
}

@media (max-width: 992px) {
    .desktop_menu {
        display: none;
    }
    .toogle_btn {
        display: block;
        cursor: pointer;
    }
    .mobile_menu {
        display: block;
    }

}

@media (max-width: 576px) {
    .mobile_menu {
        width: unset;
        left: 2rem;
    }
    
}