.slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    z-index: 1;
}

.slides {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0px;
    transition: opacity 2s ease-in-out;
}

.content {
    position: relative;
    z-index: 3;
}

.content h1 {
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}