* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
  --bg:white;
  --card:#fff;
  --accent:#2563eb;
  --text:#0f172a;
  --muted:#64748b;
  --radius:10px;
}
*{box-sizing:border-box}
html,body{height:100%}
body{
  margin:0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background:var(--bg);
  color:var(--text);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  display:flex;
  align-items:center;
  justify-content:center;
 
}

/* Page container and card */
main{
  width:100%;
  max-width:420px;
}

/* Heading */
h1{
margin-bottom: 12px;
  font-size:20px;
  line-height:1.2;
}


/* Form layout */
form > div{margin-bottom:14px}
label{
  display:block;
  font-size:13px;
  margin-bottom:6px;
  color:var(--text);
}
input[type="email"],
input[type="password"]{
  width:100%;
  padding:10px 12px;
  font-size:15px;
  border:1px solid gray;
  border-radius:8px;
  background:#fff;
  color:var(--text);
  outline:none;
}

/* Focus and accessibility */
input:focus{
  box-shadow:0 0 0 4px rgba(37,99,235,0.08);
  border-color:var(--accent);
}

/* Button */
button[type="submit"]{
  width:100%;
  padding:10px 12px;
 transition: background-color 0.3s ease, transform 0.2s ease;
  color:#fff;
  border:0;
  border-radius:10px;
  font-weight:600;
  cursor:pointer;
  font-size:15px;
  background-color: #4A90E2; 
}
button[type="submit"]:hover
{
   background-color: #1F6FCC;  /* darker shade */
  transform: translateY(-3px);
}
button[type="submit"]:active{transform:translateY(1px)}


.text-align-center{text-align:center}






header {

    background: linear-gradient(135deg, #2a3d4a, #111a20); /* contrast color */;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    text-align: right;
    padding: 2rem;
    z-index: 50;
    width: 100%;

}


header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

header ul a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

header ul a:hover {
   color: orange;
   font-size: 1.05rem;
}



header .logo > a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;

}
header .logo > a:hover {
    color: orange;
}

header .logo {
    float: left;
}
